.services{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 90px 170px;
}

.services-title{
  position: relative;
}

.services-title h1{
  font-size: 50px;
  font-weight: 500;
}

.services-title img{
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.services-format{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid white;
  transition: 0.4s;
  cursor: pointer; 
}

.services-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-bottom: 80px;
}

.services-format h3{
  font-size: 25px;
  font-weight: 400;
}

.services-format h2{
  font-size: 32px;
  font-weight: 500;
  background: linear-gradient(270deg, #03e6f6 50%, #ff0099 100.28%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.services-format p{
  color: #d4d4d4;
  font-size: 20px;
  line-height: 30px;
  max-width: 300px;
}

.services-readmore{
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;
}

.services-format:hover{
  border: 2px solid #ff00ff;
  background-image: linear-gradient(45deg,#3f0028,#582300);
  transform: scale(1.05);
  transition: 0.4s;
}

.services-format img{
  width: 20px;
}

@media (max-width:768px){
  .services{
    align-items: start;
    gap: 70px;
    margin: 20px 70px;
  }

  .services-title h1{
    padding: 0;
    font-size: 30px;
  }

  .services-title img {
    width: 100px;
    margin-right: -7px;
  }

  .services-format{
    gap: 20px;
    padding: 32px;
  }

  .services-format h2{
    font-size: 20px;
  }

  .services-format p{
    font-size: 16px;
    line-height: 30px;
    max-width: 200px;
  }

  .services-readmore img{
    width: 18px;
  }

  .services-container{
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
