.hero{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.hero img{
  margin-top: 20px;
}

.hero h1{
  text-align: center;
  width: 70%;
  font-size: 50px;
  font-weight: 400;
}

.hero h1 span{
 background: linear-gradient(270deg, #03e6f6 10%, #ff0099 100%);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
 background-clip: text;
}

.hero p{
  width: 50%;
  text-align: center;
  font-size: 22px;
  line-height: 35px;
}

.hero-action{
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 50px;
}

.hero-connect{
  padding: 20px;
  text-align: center;
  width: 180px;
  border-radius: 50px;
  background: linear-gradient(270deg, #03e6f6 -5.09%, #ff0099 106.28%);
  cursor: pointer;
}

.hero-resume{
  padding: 20px;
  text-align: center;
  width: 150px;
  border-radius: 50px;
  border: 2px solid #fff;
  cursor: pointer;
}

.hero-resume a{
  text-decoration: none;
  color: #fff;
}

.hero-connect:hover{
  border: 2px solid white;
}

.hero-resume:hover{
  border-color: #B415FF;
}

.hero img{
  width: 250px;
}

@media (max-width:768px){
  .hero img{
    margin-top: 30px;
    width: 240px;
  }

  .hero h1{
    margin-top: 40px;
    width: 90%;
    font-size: 50px;
  }

  .hero p{
    width: 60%;
    font-size: 16px;
    line-height: 32px;
    margin: 10px 0px;
  }

  .hero-action{
    gap: 16px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
  }

  .hero-connect{
    padding: 20px 20px;
    border-radius: 40px;
  }

  .hero-resume{
    padding: 18px 40px;
    border-radius: 40px;
  }
}
