.mywork{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin: 90px 170px;
}

.mywork-title{
  position: relative;
}

.mywork-title h1{
  padding: 0 30px;
  font-size: 50px;
  font-weight: 500;
}

.mywork-title img{
  position: absolute;
  bottom: 0;
  left: 140px;
  z-index: -1;
}

.mywork-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

.mywork-container img{
  box-sizing: border-box;
  width: 380px;
  height: 255px;
  transition: 0.3s;
  cursor: pointer;
}

.mywork-container img:hover{
  transform: scale(1.05);
  border: 4px solid #ff00ff;
  border-radius: 10px;
  transition: 0.4s;
}

.mywork-showmore{
  display: flex;
  gap: 15px;
  border-radius: 50px;
  border: 2px solid white;
  padding: 20px 50px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 80px;
  transition: 0.6s;
  cursor: pointer;
}

.mywork-showmore:hover{
  gap: 30px;
  transition: 0.6s;
}

@media (max-width:768px){
  .mywork{
    gap: 50px;
    margin: 50px 70px;
    align-items: start;
  }

  .mywork-title h1{
    padding: 0;
    font-size: 30px;
    font-weight: 400;
  }

  .mywork-title img{
    width: 100px;
    left: 100px;
  }

  .mywork-container{
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  .mywork-container img{
    width: 100%;
    height: 100%;
  }

  .mywork-showmore{
    padding: 18px 30px;
    font-size: 16px;
    margin: 40px auto;
    cursor: pointer;
  }

  
}