.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 90px 170px;
}

.about-title {
  position: relative;
}

.about-title h1 {
  padding: 0ox 30px;
  font-size: 50px;
  font-weight: 500;
}

.about-sections {
  display: flex;
  gap: 80px;
}

.about-right {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.about-para {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  font-weight: 400;
}

.about-skills {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-skill {
  display: flex;
  gap: 50px;
  align-items: center;
  transition: 0.3s;
}

.about-skill p {
  min-width: 150px;
  font-size: 17px;
  font-weight: 400;
}

.about-skill hr {
  outline: none;
  border: none;
  width: 50%;
  height: 8px;
  border-radius: 50px;
  background: linear-gradient(264deg, #03e6f6 -5.09%, #ff0099 106.28%);
}

.about-achievements {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 80px;
}

.about-achievement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: 0.5s;
}

.about-achievement h1 {
  font-size: 40px;
  font-weight: 500;
  background: linear-gradient(270deg, #03e6f6 50.41%, #ff0099 90.25%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.about-achievement p {
  font-size: 20px;
  font-weight: 500;
}

.about-skill:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.about-achievement:hover {
  transform: scale(1.12);
  transition: 0.5s;
}

.about-left img {
  width: 380px;
  height: 380px;
}

@media (max-width:768px) {
  .about {
    gap: 80px;
    margin: 50px 70px;
    align-items: start;
  }

  .about-title h1 {
    font-size: 30px;
    padding: 0;
  }

  .about-sections {
    flex-direction: column;
  }

  .about-left {
    display: none;
  }

  .about-para {
    font-size: 16px;
    line-height: 32px;
  }

  .about-skill {
    gap: 20px;
    align-items: center;
  }

  .about-skill p {
    font-size: 15px;
  }

  .about-skill hr {
    height: 6px;
  }

  .about-achievement {
    justify-content: space-between;
  }

  .about-achievement {
    gap: 10px;
  }

  .about-achievement h1 {
    font-size: 30px;
    font-weight: 500;
  }

  .about-achievement p {
    text-align: center;
    font-size: 17px;
  }
}
