.footer {
  margin: 50px 170px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-top-left p {
  font-size: 18px;
  max-width: 400px;
}

.footer-name {
  margin-bottom: 10px;
}

.footer-top-right {
  display: flex;
  align-items: center;
  gap: 35px;
}

.footer-email-input {
  display: flex;
  gap: 30px;
  padding: 18px 28px;
  border-radius: 50px;
  background: #32323B;
  padding-right: 80px;
}

.footer-email-input input {
  outline: none;
  border: none;
  background: transparent;
  color: #a0a0a0;
  font-family: Outfit;
  font-size: 16px;
}

.footer-subscribe {
  font-size: 18px;
  padding: 22px 50px;
  border-radius: 50px;
  background: linear-gradient(264deg, #03e6f6 -5.09%, #ff0099 106.28%);
  cursor: pointer;
  transition: 0.3s;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0;
}

.social-icon {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
  background: white;
  border-radius: 50%;
  padding: 5px;
}

.social-icon:hover {
  transform: scale(1.2);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.footer-bottom-right {
  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}

.footer-email-input:hover {
  border: 2px solid white;
}

.footer-subscribe:hover {
  transform: scale(1.1);
  transition: 0.3s
}

@media (max-width:768px) {
  .footer {
    margin: 50px 70px;
  }

  .footer-top {
    flex-direction: column;
    gap: 50px;
  }

  .footer-bottom {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }

  .footer-top-left img {
    width: 100px;
  }

  .footer-top-left p {
    font-size: 16px;
  }

  .footer-top-right img {
    width: 20px;
  }

  .footer-top-right input {
    height: 25px;
  }

  .footer-subscribe {
    width: 70px;
    height: 18px;
  }
}
